@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
}

h1 {
  margin: 0;
  font-size: 1.5rem;
}

.button {
  padding: 0.5rem 1rem;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.primary-button {
  background-color: #0070f3;
}
.success-button {
  background-color: #28a745;
}
.dark-button {
  background-color: #333;
}

.primary-button:hover {
  background-color: #005bb5;
}

.success-button:hover {
  background-color: #218838;
}

.dark-button:hover {
  background-color: #000;
}